/* Stylesheet for ... App */

body {
  background: #fafafc;
  color: black;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.wrapper {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}
.header {
  background: #08A19F;
  display: table-row;
  height: 1px;
}
.main {
  height: 100%;
  display: table;
  width: 100%;
}
.box {
  display: table-cell;
}
.sidebar {
  width: 100px;
  background: #08A19F;
}

.footer {
  display: table-row;
  height:1px;
  line-height: 2em;
  background-color: #123456;
  background-image:
  linear-gradient(
    #fafafc, #123456 2px
    );
  color: #aaaaaa;
}
.footer a{
  color: #ffffff;
  padding: 2px 10px 2px 10px;
  border-radius: 20px;
}
.footer a:hover{
  background-color: #113456;
  color: #000000;
  padding: 2px 10px 2px 10px;
  text-decoration: inherit;
}

/*====== Ignore section below ======*/
/* Basic Style*/
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.tile img{
	display: block;
}

/* === Custom styling depending on the project === */ 

.content {
  vertical-align: middle;
}

.players{
	text-align: left;
	display: inline-block;
	margin-right: 10px;
	// border: 1px solid #222223;
}
.draw{
    display: inline-block;
    position: relative;
    top: -25%;
}

.board {
  max-width: 350px;
  border: 1px solid #222223;
  margin: 0 auto;
}
.tile{
  display: inline-block;
  background-color: #00ff22;
  background-image: 
  	linear-gradient(
  		#fafafc 2px, #9700BA 20px, #fafafc 90px
  	); 
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
  border: 1px solid #222223;
}




/* === [ Overlay / pop-up styles ] === */

button {
  background-color: #ded233;
  border: medium double #514d13;
  padding: 5px;
  margin: 10px;
}

button:hover{
  border: 3px solid #514d13;
};

select{
  padding-right: 5px;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlaybox {
  position: relative;
  top: 10%;
  width: 50%;
  min-width: 350px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  background-color: #fafafc;
  border: 1px solid #222223;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 3px 1px rgba(250,250,252,0.75);
  -moz-box-shadow: 2px 2px 3px 1px rgba(250,250,252,0.75);
  box-shadow: 2px 2px 3px 1px rgba(250,250,252,0.75);
}

.overlaybox p{
  padding: 10px 0;
}

.overlaybox-caption{
  background-color: #d1c630;
  background:
    linear-gradient(
      #d1c630 38px, #514D13
    );
  border-radius: 5px 5px 0 0;
  display: block;
  font-size: 1.2em;
  padding: 10px 0;
}

.overlaybox-content{
  display: block;
  padding: 10px 10px 15px;
}

/* for single player view */
.pl{
  padding: 5px 20px;
  margin: 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}
.pl:hover{
  background-color: #ded233;
  border-radius: 25px 25px 5px 5px;
}
.pl-selected{
  background-image: 
    linear-gradient(
      #d1c630 5px, #ded233 10px, #fafafc 30px, #d1c630 35px
    );
  border-radius: 25px 25px 5px 5px;
  padding: 5px 20px;
  margin: 5px 10px;
  cursor: default;
  transition: 0.5s;
}

.icon{
  border: 1px solid #fafafc;
  margin: 0px 5px 10px 0px;
  cursor: pointer;
  transition: 0.5s;
}
.icon:hover{
  border: 1px solid #222223;
  border-radius: 10px;
}
.icon-selected{
  border: 1px solid #222223;
  border-radius: 10px;
  background-color: #ececef;
  cursor: default;
  transition: 0.5s;
}

.note {
  font-style: italic;
  font-size: .7em;
  margin: -35px 0 -10px;
  width: 100%;
}

/* Styles for multi player view */
.less-margin{
  margin: 0px;
}
.tab{
  display: table;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0 15px;
}
.tr{
  display: table-row;
}
.td{
  display: table-cell;
  vertical-align: middle;
}

/*  Styles for Score view */
.summary{
  font-size: 2em;
}
.result-players{
  font-size: 0.5em;
}
.right{
  text-align: right;
}
.left{
  text-align: left;
}
.small{
  width: 50%;
  font-size: 120%;
}


@media screen and (max-height: 450px) {
  .overlay a {font-size: 15px}
}